@CHARSET "UTF-8";

body {
    color: #333333;
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}

#header {
    width: 100%;
    height: 70px;
    background-color: #333333;

}

#content {
    width: 94%;
    margin-top: 15px;
    padding-left: 3%;

}

h1 {
    width: 94%;
    padding-top: 9px;
    padding-left: 3%;
    font-size: 34px;
    color: #eeeeee;
    text-align: center;
}

h2 {
    font-size: 38px;
    margin-bottom: 15px;
    text-align:center;
    font-weight: bolder;
}

li {
    margin-top: 10px;
    height: 50px;
    background-color: aliceblue;
    width: 960px;
    margin: 0 auto;
    margin-bottom: 30px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}
li a{

    text-decoration: none;
    color: #24738e;
    font-size: 30px;
}

table, tr, th, td {
    border: 1px solid #cccccc;
}

table {
    width: 100%;
    table-layout: fixed;
}

th {
    width: 26%;
    padding: 10px 2%;
}

td {
    width: 66%;
    padding: 10px 2%;
}

button {
    font-size: 14px;
    padding: 5px 10px;
}

#footer {
    text-align: center;
}